* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #000;
  color: #fff;
}

.calculator {
  padding: 20px;
  border-radius: 10px;
}

.calculator .button {
  border: 1px solid #fff;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

.calculator input {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-bottom: 15px;
}

.calculator input:focus {
  border-bottom: 2px solid green;
}

.calculator p {
  font-size: 25px;
  margin-top: 15px;
}

.historyButton {
  padding: 8px 12px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: green;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.clearButton {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 10px;
  padding: 8px 12px;
  border: 1px solid red;
  outline: none;
  cursor: pointer;
  color: red;
  background-color: transparent;
}

.history-container {
  width: 100%;
  height: 150px;
  overflow-y: auto;
  padding-left: 25px;
  display: none;
}
